<div class="mt-5 container">
  <div class="p-3 mb-2 bg-dark text-white">
    <h1>Super Secret Message</h1>
    
    <p>Sign up</p>
    <p>Enter your mobile number if you wish to send message links via text.</p>

    <%= form_for @user, :url => {:action => "create"} do |f| %>
    
    	<%= f.label :handle %>
    	<%= f.text_field :handle %>

    	<%= f.label :cell %>
    	<%= f.text_field :cell %>

    	<%= f.label :password %>
    	<%= f.password_field :password %>

    	<%= f.submit 'Sign Up', class: "btn btn-success btn-sm" %>
    <% end %>

    </div>
</div>
